$dc-blue: #0e0e79;
$dc-purple: #33334d;


// NBN Colors
$nbn-purple: rgb(80, 31, 132);
$nbn-red: rgb(236, 56, 14);

// Shades of Gray
$black: rgb(0, 0, 0);
$nbn-black: rgb(17, 17, 17);
$bodytext-black: rgb(40, 40, 40);
$text-gray: rgb(145, 145, 145);
$line-gray: rgb(187, 187, 187);
$border-gray: rgb(204, 204, 204);
$href-offwhite: rgb(221, 221, 221);
$footer-offwhite: rgb(238, 238, 238);
$background-gray: rgb(245, 245, 245);
$white: rgb(255, 255, 255);

// Color Extentions
$masthead-purple: $nbn-purple;
$href-purple: $nbn-purple;




// Monochromes
$black: #000;
$white: #fff;

$light-gray: #ddd;
$medium-gray: #999;
$dark-gray: #666;

$light-grey: $light-gray;
$medium-grey: $medium-gray;
$dark-grey: $dark-gray;
$satan: $dark-gray;

// Element colors
$facebook: #3b5998;
$twitter: #00aced;
$mail: #a9a9a9;
$link: #0a7cc4;
$button: #7aaaf4;
$highlighter-yellow: #fffAb7;
$highlighter-orange: #f9d289;
