<header class="center">

  <p class="category">
      <a href="https://www.northbynortwestern.com/news/politics" target="_blank">Politics</a>
  </p>
  <h1>
    {{META.header.headline}}
  </h1>
  <p class="subhead">
    {{META.header.subhed}}
  </p>
  <div class="info">
    <p>
        By <span class="byline"><a href="{{META.header.byline_link}}">{{META.header.byline}}</a></span></span> | <span class="timestamp"> <time datetime="{{META.timestamp}}">{{META.dateline}}</time></span>
    </p>
  </div>
</header>
