<nav title="navigation">
    <div id="global-header">
        <div id="global-branding">
          <div class="navbar-nbn-logo">
            <a class="navbar-brand" href="http://www.northbynorthwestern.com/" title="North by Northwestern" target="_top">
              <img src="images/nbn-white.png">
            </a>
          </div>
        </div>

        <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ META.url | urlencode }}"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/intent/tweet?url={{ META.url | urlencode }}&amp;via=nbn_tweets&amp;text={{META.share.twitter.share_tweet | urlencode}}"><i class="fab fa-twitter"></i></a></li>
        </ul>

    </div>
</nav>
