@import 'bootstrap';

@import 'breakpoints';
@import 'mixins';
@import 'colors/base';
@import 'fonts';

@import 'elements';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'buttons';
@import 'project';


.logo {
	width: 6%;
	height: 6%;
	padding-left: 1%;
	padding-top: 1%;
}

.topnav {
  background-image: linear-gradient(to right, #100F17 , #0F181E);
  overflow: hidden;
}

.fixed-nav topnav {
  position: fixed;
  top:0;
  z-index: 1;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
}

.topnav a:hover {
  background-color: #70E0DD;
  color: black;
}




.article-container{
	margin-left: 3%;
	margin-right: 3%;
}

.top {
	width: 100%;
	border-bottom: 10px solid;
}

.gif-container {
	position: relative;
	text-align: center;
	color: black;
	margin-bottom: 5%;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Bungee', cursive;
	font-size: 500%;
	background: -webkit-linear-gradient(#0F2027, #dc2430);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.right-corner {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Montserrat', sans-serif;
	font-size: 8vw;
	font-weight: 800;
	color: white;

}

a.right-corner:hover {
	color: #70E0DD;
}

.left-corner {
	position: absolute;
	top: 82%;
	left: 14%;
	transform: translate(-50%, -50%);
}

.left-corner-top {
	margin-bottom: 1px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 3vw;
	font-weight: 800;
	color: white;

}

.left-corner-bottom {
	margin-top: 1px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 3vw;
	font-weight: 800;
	color: white;

}

.by {
	font-family: 'Noto Serif KR', serif;
	font-size: 90%;	
	color: black;
}

.by-hangover {
	font-family: 'Noto Serif KR', serif;
	font-size: 90%;	
	color: black;
	margin-top: 10px;
}

.by-card {
	font-family: 'Noto Serif KR', serif;
	font-size: 90%;	
	color: white;
}


a.author-link  {
	color: black;
	font-family: 'Noto Serif KR', serif;
	font-size: 90%;
}


a.author-link:hover {
	color: #FF3727;
	font-size:125%;
}

a.author-link-card  {
	color: white;
	font-family: 'Noto Serif KR', serif;
	font-size: 90%;
}


a.author-link-card:hover {
	color: #FF3727;
	font-size:125%;
}

.title-row {
  display: inline-flex; /* or inline-flex */
  justify-content: space-around;
  flex-wrap: nowrap;
}

.title-row-pregame {
  display: inline-flex; /* or inline-flex */
  justify-content: space-around;
  flex-wrap: nowrap;
}

@media screen and (max-width: 600px) {
	.title-row-pregame {
  		display: inline-flex; /* or inline-flex */
  		justify-content: space-around;
  		flex-wrap: wrap;
	}
}

.features-block {
	background-color: white;
	width:100%;
}

.features-container {
  display: inline-flex; /* or inline-flex */
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.feature {
  width: 80%;
  height: 60%;
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;

}

.feature-background {
  height: 440px;
  width: 220px;
  margin-top: 20px;
}

.headline-text-card {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	font-weight:600;
	color: white;
}

.headline-text-feature {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	font-weight:600;
	color: white;
	padding-top: 10%
}

.deck-text-card {
	font-family: 'Assistant', serif;
	font-size: 90%;
	color: white;

}

.headline-text-simple {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	font-weight:600;
	color: black;
	margin: auto;

}

.deck-text-simple {
	font-family: 'Assistant', serif;
	font-size: 90%;
	color: black;
	margin: auto;
}

.headline-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	font-weight:600;
	color: black;
}

.deck-text {
	font-family: 'Assistant', serif;
	font-size: 90%;
	color: black;
}

.upright-text {
	font-family: 'Montserrat', sans-serif;
	font-weight:800;
	font-size: 4vw;
	writing-mode: vertical-rl;
	text-orientation: upright;
	align-self: flex-start;
}

.heading {
	font-family: 'Montserrat', sans-serif;
	font-weight:800;
	font-size: 4vw;
	margin-bottom: 2%;
}

.pregame {
  width: 95%;
  height: 38%;
  background-color: white;
  text-align: left;
  margin-left: 5%;
  padding-left: 2%;
}

.pregame-noods {
  width: 45%;

  height: 460px;
  background-color: white;
  text-align: left;
  margin: auto;	
  padding-left: 2%;
}

@media screen and (max-width: 600px) {
	.pregame-noods {
  		width: 80%;
  		height: 230px;
  		background-color: white;
  		text-align: left;
  		margin: auto;	
  		padding-left: 2%;

	}
}



.pregame-small {
  width: 45%;
  background-color: white;
  text-align: left;
  margin-left: 5%;
  padding-left: 2%;	
}

.inside-pregame {
  display: inline-flex; /* or inline-flex */
  justify-content: space-around;
  flex-wrap: nowrap;
}

@media screen and (max-width: 600px) {
.inside-pregame {
  display: inline-flex; /* or inline-flex */
  justify-content: space-around;
  flex-wrap: nowrap;
  padding-top: 5%;
}
}

.dancefloor-container {
  display: inline-flex; /* or inline-flex */
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.dancefloor {
  width: 30%;
  text-align: left;
  background-color: white;
}

.dance-img {
	width: 100%;
	height: 50%;
}

@media screen and (max-width: 800px) {
	.dancefloor {
		width: 34%;
  		text-align: left;
  		background-color: white;
	}

	.dance-img {
		width: 100%;
		height: 50%;
	}
}

.hangover {
  width: 99%;
  background-color: white;
  text-align: left;
  margin-left: 5%;
}

.morty {
	height: 345.6px;
	width: 306px;
}

.square {
  height: 50px;
  width: 100px;
  background-color: white;
}

.square-nav {
  height: 60px;
  width: 100px;
  background-color: white;
}




