@import 'bootstrap';

@import 'breakpoints';
@import 'mixins';
@import 'colors/base';
@import 'fonts';

@import 'elements';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'buttons';
@import 'project';


.topnav {
  background-image: linear-gradient(to right, #100F17 , #0F181E);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
}

.topnav a:hover {
  background-color: #70E0DD;
  color: black;
}




.article-container{
	margin-left: 3%;
	margin-right: 3%;
}

.top {
	width: 100%;
}

.gif-container {
	position: relative;
	text-align: center;
	color: black;
	margin-bottom: 30px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Bungee', cursive;
	font-size: 500%;
	background: -webkit-linear-gradient(#0F2027, #dc2430);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.right-corner {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Montserrat', sans-serif;
	font-size: 8vw;
	font-weight: 800;
	color: white;

}

a.right-corner:hover {
	color: #70E0DD;
}

.left-corner {
	position: absolute;
	top: 82%;
	left: 14%;
	transform: translate(-50%, -50%);
}

.left-corner-top {
	margin-bottom: 1px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 3vw;
	font-weight: 800;
	color: white;

}

.left-corner-bottom {
	margin-top: 1px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 3vw;
	font-weight: 800;
	color: white;

}

.by {
	font-family: 'Noto Serif KR', serif;
	font-size: 90%;	
	color: black;
}

.by-card {
	font-family: 'Noto Serif KR', serif;
	font-size: 90%;	
	color: white;
}


a.author-link  {
	color: black;
	font-family: 'Noto Serif KR', serif;
	font-size: 90%;
}


a.author-link:hover {
	color: #FF3727;
	font-size:125%;
}

a.author-link-card  {
	color: white;
	font-family: 'Noto Serif KR', serif;
	font-size: 90%;
}


a.author-link-card:hover {
	color: #FF3727;
	font-size:125%;
}

.title-row {
  display: inline-flex; /* or inline-flex */
  justify-content: space-around;
  flex-wrap: nowrap;
}

.features-block {
	background-color: white;
	width:100%;
}

.features-container {
  display: inline-flex; /* or inline-flex */
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.feature {
  width: 220px;
  height: 440px;
  text-align: center;

}

.headline-text-card {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	font-weight:600;
	color: white;
}

.deck-text-card {
	font-family: 'Assistant', serif;
	font-size: 90%;
	color: white;
}

.headline-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	font-weight:600;
	color: black;
}

.deck-text {
	font-family: 'Assistant', serif;
	font-size: 90%;
	color: black;
}

.upright-text {
	font-family: 'Montserrat', sans-serif;
	font-weight:800;
	font-size: 4vw;
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.heading {
	font-family: 'Montserrat', sans-serif;
	font-weight:800;
	font-size: 4vw;
}

.pregame {
  width: 600px;
  background-color: white;
  text-align: left;
  margin-left: 5%;
}

.pregame-noods {
  width: 300px;
  height: 400px;
  background-color: white;
  text-align: left;
  margin-left: 5%;	
}

.pregame-small {
  width: 300px;
  background-color: white;
  text-align: left;
  margin-left: 5%;	
}

.inside-pregame {
  display: inline-flex; /* or inline-flex */
  justify-content: space-around;
  flex-wrap: nowrap;
}

.dancefloor-container {
  display: inline-flex; /* or inline-flex */
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.dancefloor {
  width: 220px;
  text-align: center;
  background-color: white;
}

.hangover {
  width: 600px;
  background-color: white;
  text-align: left;
  margin-left: 5%;
}

.morty {
	height: 384px;
	width: 340px;
}


